# 01. 파이썬 시작하기 001~010

In [9]:
#001 print 기초
#화면에 Hello World 문자열을 출력하세요.
print('Hello world')

Hello world

In [7]:
#002 print 기초
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [18]:
#003 print 기초
#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [39]:
#004 print 기초
#화면에 C:\Windows를 출력하세요.
print("C:\\Windows")

C:\Windows

In [43]:
#005 print 탭과 줄바꿈
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요
print("안녕하세요.\n만나서\t\t반갑습니다.")

#정답 : \n 은 줄바꿈 \t는 탭 간격주기

안녕하세요.
만나서		반갑습니다.

In [51]:
#006 print 여러 데이터 출력
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")
#정답 : 오늘은 일요일 
print("오늘은\n","\t\t일요일")

오늘은 일요일
오늘은
 		일요일

In [97]:
#007 print 기초
#print() 함수를 사용하여 다음과 같이 출력하세요.
#   naver;kakao;sk;samsung

a = ';'
f'naver{a}kakao{a}sk{a}samsung{a}'

'naver;kakao;sk;samsung;'

In [81]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [87]:
#008 print 기초
#print() 함수를 사용하여 다음과 같이 출력하세요.
#  naver/kakao/sk/samsung
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [89]:
print("naver", "kakao", "sk", "samsung", sep="\\")

naver\kakao\sk\samsung

In [103]:
#009 print 줄바꿈
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
#   print("first");print("second")

print("first", end=' '); print("second")

first second

In [105]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

# 02. 파이썬 변수 011~020

In [121]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [143]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
#항목	값
#시가총액	298조
#현재가	50,000원
#PER	15.79 


시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print('시가총액',시가총액)
print('현재가',현재가)
print('PER', PER)

시가총액 298000000000000
현재가 50000
PER 15.79

In [155]:
#013 문자열 출력
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s="hello"
t="python"

print(s+"!",t)

hello! python

In [159]:
#014 파이썬을 이용한 값 계산
#아래 코드의 실행 결과를 예상해보세요.

#  2 + 2 * 3 
2 + 2 * 3

8

In [169]:
#015 type 함수
#type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
#아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"
print(type(a))

<class 'str'>

In [185]:
#016 문자열을 정수로 변환
#문자열 '720'를 정수형으로 변환해보세요.
num_str ="720"
num_int = int(num_str)
print(num_int)

720

In [189]:
#17 정수를 문자열 100으로 변환
#정수 100을 문자열 '100'으로 변환해보세요.

정수 = 100
문자열 = str(정수)
print(문자열,type(문자열))

100 <class 'str'>

In [193]:
#018 문자열을 실수로 변환
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

문자열 = "15.79"
실수 = float(문자열)
print(실수,type(실수))

15.79 <class 'float'>

In [213]:
#019 문자열을 정수로 변환
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2024"
print(int(year)-1, end=' '); print(int(year)-2,end=' '); print(int(year)-3)

2023 2022 2021

In [217]:
#020 파이썬 계산
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month = 48584
total = month * 36

print(total)

1749024

# 03. 파이썬 문자열 021~050

In [234]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
letters[0] + letters[2]

'pt'

In [248]:
#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# license_plate = "24가 2210"

license_plate = "24가 2210"
license_plate[4:]

'2210'

In [14]:
#023 문자열 인덱싱
#아래의 문자열에서 '홀' 만 출력하세요.
#string = "홀짝홀짝홀짝"

a = "홀짝홀짝홀짝"
a[0]+a[2]+a[4]

'홀홀홀'

In [18]:
#024 문자열 슬라이싱
#문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [20]:
#025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [22]:
#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [50]:
#027 문자열 다루기
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
a = "http://sharebook.kr"
b = a.split('.')
print(b[-1])

kr

In [52]:
# 028 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

#문자열은 수정불

TypeError: 'str' object does not support item assignment

In [54]:
#029 replace 메서드
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string.replace("a","A")

'Abcdfe2A354A32A'

In [62]:
#030 replace 메서드
#아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace("b", "B")
print(string)

abcd

In [64]:
#031 문자열 합치기
#아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)

34

In [66]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

HiHiHi

In [70]:
#033 문자열 곱하기
#화면에 '-'를 80개 출력하세요.
print("-" * 80)

--------------------------------------------------------------------------------

In [72]:
#034 문자열 곱하기
#변수에 다음과 같은 문자열이 바인딩되어 있습니다.
#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
#python java python java python java python java
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
t3 * 4

'python java python java python java python java '

In [100]:
#035 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이:%d" %  (name1,age1))
print("이름: %s 나이:%d" %  (name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [106]:
#036 문자열 출력
#문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [114]:
#037 문자열 출력
#파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [122]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",","")
b = int(a)
print(b, type(b))

5969782550 <class 'int'>

In [124]:
#039 문자열 슬라이싱
#다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [130]:
#040 strip 메서드
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data.strip()

'삼성전자'

In [132]:
#041 upper 메서드
#다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [136]:
#042 lower 메서드
#다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [140]:
#043 capitalize 메서드
#문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = "hello"
a.capitalize()

'Hello'

In [144]:
#044 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [152]:
#045 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(("xlssx","xlsss"))

False

In [154]:
#046 startswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [156]:
#047 split 메서드
#다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split()

['hello', 'world']

In [158]:
#048 split 메서드
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [162]:
#049 split 메서드
#다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [164]:
#050 rstrip 메서드
#문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요
data = "039490     "
data.rstrip()

'039490'