# 161 ~ 200

In [6]:
# 161  for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range (100) : 
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [8]:
# 162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for i in range(2002, 2051, 4) : 
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [10]:
# 163    1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range (3, 31, 3) :
    print (i)

3
6
9
12
15
18
21
24
27
30

In [16]:
#165   for문을 사용해서 아래와 같이 출력하라.
#0.0
#0.1
#0.2
#0.3
#0.4
#0.5
#...
#0.9

for i in range(10) : 
    print (i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [24]:
#166 구구단 3단을 출력하라.
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [22]:
#167  구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
a = 3
for i in range (1,10,2) :
    print (a, "x", i, "=", a * i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [26]:
#168   1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
a = 0
for i in range(1,11) : 
    a += i
print(a)

55

In [30]:
#169  1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
a = 0
for i in range(1, 11, 2) :
    a += i
print(a)

25

In [32]:
#170    1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
a = 1
for i in range (1,11) :
    a *= i
print(a)

3628800