# 함수와 입출력

## 함수의 구조

In [5]:
def add(a,b) :
    return a + b

In [7]:
a = 3
b = 4
c = add(a,b)
print(c)

7

## 매개변수와 인수

In [11]:
def add(a,b) :#a,b는 매개변수
    return a + b
print(add(3,4))  #3,4는 인수

7

## 입력값과 리턴값에 따른 함수의 형태

In [17]:
def add(a,b) :#a,b는 매개변수
    result =  a + b
    return result

In [19]:
add(3,4)

7

In [21]:
# 입력값이 없는 변수
def say() : 
    return 'Hi'

In [25]:
say()

'Hi'

In [41]:
def add2(a, b): 
     print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [43]:
add2(3,4)

3, 4의 합은 7입니다.

In [45]:
c = add2(3,4)

3, 4의 합은 7입니다.

In [47]:
print(c)

None

In [53]:
# 입력값도, 리턴값도 없는 함수
def say2() : 
    print("HI")

In [55]:
say2()

HI

In [57]:
d = say2()

HI

In [59]:
print(d)

None

## 매개변수를 지정하여 호출하기

In [62]:
def sub(a,b) : 
    return a-b

In [66]:
result = sub(a=5, b=3)
print(result)

2

## 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [87]:
# 사용자의 입력이 몇개든, 전부다 누적해서 더해주는 함수
def add_many(*args): 
     result = 0 
     for i in args: 
         result = result + i   # *args에 입력받은 모든 값을 더한다.
     return result

In [89]:
add_many(2, 3, 4, 6, 7, 8)

30

## quiz
사용자에게 다수의 입력을 받아서 옵션에 따라서 누적곱 또는 누적합을 출력하는 함수를 만들어라

In [114]:
def add_mul(option, *args) :
    if option == 'mul' :
        data = 1
        for i in args :
            data = data * i
        return data
    
    if option == 'sum' :
        data = 0
        for i in args :
            data = data + i
        return data

In [116]:
add_mul('mul', 1, 2, 3, 4, 5)

120

In [118]:
add_mul('sum', 1, 2, 3, 4, 5)

15

## 키워드 매개변수, kwargs

In [121]:
 def print_kwargs(**kwargs):
     print(kwargs)

In [123]:
print_kwargs(a=1)

{'a': 1}

In [125]:
print_kwargs(name = 'maeng', age = 20)

{'name': 'maeng', 'age': 20}

## 함수의 리턴값은 언제나 하나이다.

In [128]:
def add_and_mul(a,b) :
    return a+b, a*b

In [130]:
add_and_mul(3,4)

(7, 12)

In [132]:
result1, result2 = add_and_mul(3, 4)
result1

7

In [134]:
result2

12

In [136]:
def add_and_mul(a,b) :
    return a+b
    return a*b

In [138]:
result = add_and_mul(2,3)
result

5

## return으로 함수 이탈하기

In [143]:
def say_nick(nick) : 
    if nick == '바보' :
        return '옥상으로 따라와'
    print(f'나의 별명은 {nick} 입니다.')

In [145]:
say_nick('야호')

나의 별명은 야호 입니다.

In [147]:
say_nick('바보')

'옥상으로 따라와'

## 매개변수에 초기값 미리 설정하기

In [152]:
def say_myself(name, age, man=True) : 
    print(f'나의 이름은 {name} 입니다.')
    print(f'나의 이름은 {age} 입니다.')
    if man : 
        print("삐빅, 남자입니다")
    else : 
        print("삐빅, 여자입니다")

In [158]:
say_myself('맹광국',20, False)

나의 이름은 맹광국 입니다.
나의 이름은 20 입니다.
삐빅, 여자입니다

## 함수 안에서 선언한 변수의 효력 범위

In [165]:
a = 1 #글로벌영역
def vartest(a) :  #로컬영역
    a = a + 1

In [163]:
a

1

In [167]:
vartest(a)

In [169]:
print(a)

1

## 함수 안에서 함수 밖의 변수를 변경하는 방법

In [172]:
# 1. return 사용하기
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [176]:
# 2. global 명령어 사용하기
a = 1
def vartest () : 
    global a
    a = a+1

vartest()
print(a)

2

## lambda 예약어
 * 1회성 함수

In [181]:
def add(a,b) : 
    return a+b
result = add(3,4)
print(result)

7

In [187]:
add = lambda a,b : a+b
add(3,4)

7

## 파일 읽고 쓰기

In [31]:
f = open('output/test.txt', 'w', encoding='cp949')
f.close()

In [35]:
f = open('output/새파일.txt', 'w', encoding='utf-8')

In [37]:
f = open('output/새파일.txt', 'w')
for i in range(1, 11) : 
    f.write(f'{i}번째 줄입니다.\n')
f.close()

In [33]:
f = open('output/test.txt', 'w')
for i in range(1, 11) : 
    f.write(f'{i}번째 줄입니다.\n')
f.close()

In [15]:
# readline 함수 이용하기
f = open('output/test.txt', 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [17]:
f = open('output/test.txt', 'r')
for i in range(5) : 
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

In [19]:
# readlines 함수
f = open('output/test.txt', 'r')
lines = f.readlines()
print(lines)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [21]:
f = open('output/test.txt', 'r')
lines = f.readlines()
for line in lines : 
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

## quiz. 메모장을 읽어올때 줄바꿈 1개를 없애보세요.

In [23]:
f = open('output/test.txt', 'r')
lines = f.readlines()
for line in lines : 
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [25]:
f = open('output/test.txt', 'r')
lines = f.readlines()
for line in lines : 
    print(line.strip())
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [222]:
f = open('output/test.txt', 'r')
data = f.read()
print(type(data))
print(data)
f.close()

<class 'str'>
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

## 파일에 새로운 내용 추가하기

In [1]:
f = open('output/test.txt', 'a')
for i in range(11,21) :
    data = (f'{i}번째 줄입니다.\n')
    f.write(data)
f.close()

In [3]:
f = open('output/foo.txt', 'w')
f.write("Life is too short, you need python")
f.close()

In [5]:
with open('output/foo.txt', 'w') as f :
    f.write("Your leg is too short")